@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 248, 231;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 248, 231;
    --background-end-rgb: 255, 248, 231;
  }
}
/* Navigation menu styles */
nav {
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
  opacity: 1;
  max-height: 1000px;
}

/* Styles for the hidden menu */
.navbar-hidden nav {
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
